/*referenced scrolling effect from: https://www.youtube.com/watch?v=0TnO1GzKWPc*/
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

/*referenced for full-size section (intro): https://www.youtube.com/watch?v=KAG5wNPdoTw&t=5s */
.container{
    width: 100%;
    height: auto;
    scroll-snap-type: y mandatory;
}

.slide{
    width: 100%;
    height: auto;
    scroll-snap-align: start;
}

/* 1800px */
@media (min-width: 112.5rem) {
    .block{
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }

    .container{
        width: 100%;
        height: 100vh;
        scroll-snap-type: y mandatory;
    }

    .slide{
        width:100%;
        height: 100vh;
        scroll-snap-align: start;
    }
}