/*referenced scrolling effect from: https://www.youtube.com/watch?v=0TnO1GzKWPc*/
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/*referenced for full-size section (intro): https://www.youtube.com/watch?v=KAG5wNPdoTw&t=5s */

.slide{
    width: 100%;
    height: 100vh;
}