/* styling for areachart */
#areachart {
  display: flex;
  justify-content: center;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 1rem;
}

#controls button {
  padding: .5rem 1.2rem;
  border: none;
  background: var(--light-grey);
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: .75rem;
  color: var(--dark-grey);
}

#controls button.active {
  background: var(--bright-blue);
  color: white;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid #bbb;
  border-radius: 0.375rem;
  padding: 0.375rem 0.625rem;
  pointer-events: none;
  opacity: 0;
  font-size: .75rem;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.hidden{
  visibility: hidden;
}

.legend-label{
  font-size: .8rem;
  fill: white;
  font-weight: bold;
}

/* 600px */
@media (min-width: 37.5rem) {
  .legend-label{
    font-size: .5rem;
  }

  #controls button {
    font-size: 1rem;
  }

}

/* 1200 px*/
@media(min-width: 75rem){
  #controls{
    margin-top: 0;
  }
}

/* 1500 px */
@media(min-width: 93.75rem){
  #controls button {
    font-size: 1.5rem;
  }
}
