/* styling for line charts (interactiveline, capcom, squareenix, outlierline)*/
#chart1, #chart2, #chart3, #chart4 {
  display: flex;
  justify-content: center;
}

#line-controls {
  display: flex;
  justify-content: center;
  gap: .75rem;
  margin-top: 1rem;
}

#line-controls button {
  padding: .5rem 1.2rem;
  border: none;
  background: var(--light-grey);
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: .75rem;
  color: var(--dark-grey);
}

#line-controls button.active {
  background: var(--bright-blue);
  color: white;
}

.title-size{
  font-size: 1.2rem;
  font-weight: bold;
  fill: white;
}

.label-size{
  font-size: 1rem;
  fill: white;
}

.tick-text-size{
  font-size: .5rem;
  color: var(--light-grey);
}

/* 900px */
@media (min-width: 56.25rem) {
  .label-size{
    font-size: 1.2rem;
  }

  .tick-text-size{
    font-size: .8rem;
  }

  
  #line-controls button {
    font-size: 1rem;
  }
}

/* 1500 px */
@media(min-width: 93.75rem){
    #line-controls button {
    font-size: 1.5rem;
  }
}