/* variables for colours: https://www.w3schools.com/css/css3_variables.asp */
:root{
    --dark-blue: #0E1821;
    --bright-blue: #1A9FFF;
    --light-grey: #DCDEDF;
    --grey: #8B929A;
    --dark-grey: #3D4450;
    --alt-blue: #1B2838;
}

.content{
    margin-left: 1rem;
    margin-right: 1rem;
    scroll-snap-align: start;
}

body{
    /* referenced gradient from: https://www.w3schools.com/css/css3_gradients.asp */
    background-image: linear-gradient(to bottom, #184454, #203559);
    margin: 0;
}

h1, h2, h3, h4, p, a, label, button{
    font-family: sans-serif;
    color: white;
}

h1{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}

h2{
    font-size: 1rem;
}

h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

h4{
    font-size: 1.2rem;
}

p{
    font-size: 1rem;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    transition-property: color;
    transition-duration: .2s;
}

a:hover{
    color: var(--bright-blue);
}

button{
    background-color: var(--bright-blue);
    border-width: .1rem;
    border-color: var(--light-grey);
    border-style: solid;
}

header{
    background-color: var(--dark-blue);
    margin: 0;
    padding: 1rem 2rem;
}

header p{
    color: var(--grey);
    margin-top: 0;
    margin-bottom: .5rem;
}

header nav{
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

header a{
    font-style: normal;
    font-size: .75rem;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--alt-blue);
    background-image: url('../img/introbg.webp');
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 0;
    box-sizing: border-box;
}

#intro-grid{
    display: grid;
    grid-template-columns: 1fr;
}

#intro, #decline, #landscape, #why, #conclusion{
    margin-top: 3rem;
}

#intro p{
    margin-top: 1rem;
}

#intro img{
    max-width: 100%;
    height: auto;
}

#decline-grid{
    display: grid;
    grid-template-columns: 1fr;
}

#decline p{
    margin-top: 0;
    margin-right: 0;
}

#declineButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .5rem;
}

#button-container{
    display: flex;
    justify-content: center;
}

#formatButton{
    margin-top: .5rem;
    font-size: 1.2rem;
    width: 40vw;
}

#landscape-grid, #landscape-grid-two{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
}

#visComparison, #visNintendoSales{
    margin-right: 0rem;
}

#landscape-grid h4, #landscape-grid-two h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

#why-grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3rem;
}

#conclusion{
    margin-bottom: 5rem;
}

#conclusion-grid{
    display: grid;
    grid-template-columns: 1fr;
}

#conclusion p{
    margin-top: 0;
}

#conclusion img{
    width: 100%;
    height: auto;
}

footer{
    background-color: var(--dark-blue);
    margin: 0;
    padding: 1rem 2rem;
}

footer p{
    text-align: center;
    color: var(--grey);
}

/* 600px */
@media (min-width: 37.5rem) {
    .content{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    h1, h2, h3, h4, p, a, label, button{
        font-family: sans-serif;
        color: white;
    }

    h1{
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 1rem;
        color: white;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    h4{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
        transition-property: color;
        transition-duration: .2s;
    }

    a:hover{
        color: var(--bright-blue);
    }

    button{
        background-color: var(--bright-blue);
        border-width: .1rem;
        border-color: var(--light-grey);
        border-style: solid;
    }

    header a{
        font-size: 1rem;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-blue);
        background-image: url('../img/introbg.webp');
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 2rem;
        box-sizing: border-box;
    }

    #intro-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #intro, #decline, #landscape, #why, #conclusion{
        margin-top: 3rem;
    }

    #intro p{
        margin-top: 1rem;
    }

    #intro img{
        max-width: 100%;
        height: auto;
    }

    #decline-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #decline p{
        margin-top: 0;
        margin-right: 0;
    }

    #declineButtons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: .5rem;
    }

    #button-container{
        display: flex;
        justify-content: center;
    }

    #formatButton{
        margin-top: .5rem;
        font-size: 1.2rem;
        width: 40vw;
    }

    #landscape-grid, #landscape-grid-two{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    #visComparison, #visNintendoSales{
        margin-right: 0rem;
    }

    #landscape-grid h4, #landscape-grid-two h4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

    #why-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    #conclusion{
        margin-bottom: 5rem;
    }

    #conclusion-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #conclusion p{
        margin-top: 0;
    }

    #conclusion img{
        width: 100%;
        height: auto;
    }

    footer{
        background-color: var(--dark-blue);
        margin: 0;
        padding: 1rem 2rem;
    }

    footer p{
        text-align: center;
        color: var(--grey);
    }
}

/* 900px */
@media (min-width: 56.25rem) {
    .content{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    h1, h2, h3, h4, p, a, label, button{
        font-family: sans-serif;
        color: white;
    }

    h1{
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 1rem;
        color: white;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    h4{
        font-size: 2rem;
    }

    p{
        font-size: 1.2rem;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
        transition-property: color;
        transition-duration: .2s;
    }

    a:hover{
        color: var(--bright-blue);
    }

    button{
        background-color: var(--bright-blue);
        border-width: .1rem;
        border-color: var(--light-grey);
        border-style: solid;
    }

    header a{
        font-size: 1rem;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-blue);
        background-image: url('../img/introbg.webp');
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 2rem;
        box-sizing: border-box;

    }

    #intro-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #intro, #decline, #landscape, #why, #conclusion{
        margin-top: 3rem;
    }

    #intro p{
        margin-top: 1rem;
    }

    #intro img{
        max-width: 100%;
        height: auto;
    }

    #decline-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #decline p{
        margin-top: 0;
        margin-right: 0;
    }

    #declineButtons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: .5rem;
    }

    #button-container{
        display: flex;
        justify-content: center;
    }

    #formatButton{
        margin-top: .5rem;
        font-size: 1.2rem;
        width: 40vw;
    }

    #landscape-grid, #landscape-grid-two{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    #visComparison, #visNintendoSales{
        margin-right: 0rem;
    }

    #landscape-grid h4, #landscape-grid-two h4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

#piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

    #why-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    #conclusion{
        margin-bottom: 5rem;
    }

    #conclusion-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #conclusion p{
        margin-top: 0;
    }

    #conclusion img{
        width: 100%;
        height: auto;
    }

    footer{
        background-color: var(--dark-blue);
        margin: 0;
        padding: 1rem 2rem;
    }

    footer p{
        text-align: center;
        color: var(--grey);
    }
}

/* 1200px */
@media (min-width: 75rem) {
    .content{
        margin-left: 5rem;
        margin-right: 5rem;
    }

    h1{
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3{
    font-size: 2rem;
    }

    h4{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.2rem;
    }

    header{
        margin: 0;
        padding: 1rem 2rem;
    }

    header p{
        margin-top: 0;
        margin-bottom: .5rem;
    }

    header nav{
        display: flex;
        column-gap: 2rem;
    }

    header a{
        font-size: 1.5rem;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-blue);
        background-image: url('../img/introbg.webp');
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 2rem;
        box-sizing: border-box;
    }

    #intro-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #intro, #decline, #landscape, #why, #conclusion{
        margin-top: 5rem;
    }

    #intro p{
        margin-top: 0;
    }

    #intro img{
        max-width: 90%;
        height: auto;
    }

    #decline-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #decline p{
        margin-top: 0;
        margin-right: 5rem;
    }

    #landscape-grid, #landscape-grid-two{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }

    #visComparison, #visNintendoSales{
        margin-right: 3rem;
    }

    #landscape-grid h4, #landscape-grid-two h4{
        margin-top: 0;
    }
    
    #piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

    #why-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3rem;
    }

    #conclusion{
        margin-bottom: 10rem;
    }

    #conclusion-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #conclusion p{
        margin-top: 0;
    }

    #conclusion img{
        width: 90%;
        height: auto;
    }

    footer{
        margin: 0;
        padding: 1rem 2rem;
    }
}

/* 1500px */
@media (min-width: 93.75rem) {
    .content{
        margin-left: 5rem;
        margin-right: 5rem;
    }

    h1{
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3{
    font-size: 2rem;
    }

    h4{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.2rem;
    }

    header{
        margin: 0;
        padding: 1rem 2rem;
    }

    header p{
        margin-top: 0;
        margin-bottom: .5rem;
    }

    header nav{
        display: flex;
        column-gap: 2rem;
    }

    header a{
        font-size: 1.5rem;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-blue);
        background-image: url('../img/introbg.webp');
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 2rem;
        box-sizing:content-box;
    }

    #intro-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #intro, #decline, #landscape, #why, #conclusion{
        margin-top: 10rem;
    }

    #intro p{
        margin-top: 0;
    }

    #intro img{
        max-width: 90%;
        height: auto;
    }

    #decline-grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #decline p{
        margin-top: 0;
        margin-right: 5rem;
    }

    #landscape-grid, #landscape-grid-two{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }

    #visComparison, #visNintendoSales{
        margin-right: 3rem;
    }

    #landscape-grid h4, #landscape-grid-two h4{
        margin-top: 0;
    }
    
    #piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

    #why-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3rem;
    }

    #conclusion{
        margin-bottom: 10rem;
    }

    #conclusion-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #conclusion p{
        margin-top: 0;
    }

    #conclusion img{
        width: 90%;
        height: auto;
    }

    footer{
        margin: 0;
        padding: 1rem 2rem;
    }
}