/* variables for colours: https://www.w3schools.com/css/css3_variables.asp */
:root{
    --dark-blue: #0E1821;
    --bright-blue: #1A9FFF;
    --light-grey: #DCDEDF;
    --grey: #8B929A;
    --dark-grey: #3D4450;
    --alt-blue: #1B2838;
}

/* loading fonts referenced from https://www.w3schools.com/css/css3_fonts.asp*/
@font-face{
    font-family: "GT America";
    src: url("fonts/GT-America-Trial-VF.ttf");
}

@font-face{
    font-family: "MotivaSans";
    src: url("fonts/MotivaSansBold.woff.ttf");
    font-weight: bold;
}

.content{
    margin-left: 1rem;
    margin-right: 1rem;
}

html, body{
    /* referenced gradient from: https://www.w3schools.com/css/css3_gradients.asp */
    background-image: linear-gradient(to bottom, #184454, #203559);
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}

h1, h2, h3, h4{
    font-family: "MotivaSans", sans-serif;
    color: white;
}

p, a, label, button, text{
    font-family: "GT America", sans-serif;
    color: white;
}

h1{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}

h2{
    font-size: 1rem;
}

h3{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}

h4{
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-top: .5rem;
}

p{
    font-size: 1rem;
    margin-top: 0;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    transition-property: color;
    transition-duration: .2s;
}

a:hover{
    color: var(--bright-blue);
}

button{
    background-color: var(--bright-blue);
    border-width: .1rem;
    border-color: var(--light-grey);
    border-style: solid;
}

/* referenced positioning from: https://www.w3schools.com/css/tryit.asp?filename=trycss_position_fixed*/
#backtotop{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
}

#backtotop img{
    max-width: 3rem;
    height: auto;
}

img{
    border-radius: 1rem;
}

header{
    background-color: var(--dark-blue);
    margin: 0;
    padding: 1rem 2rem;
}

header p{
    color: var(--grey);
    margin-top: 0;
    margin-bottom: .5rem;
}

header nav{
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

header a{
    font-style: normal;
    font-size: .75rem;
}

#top-nav{
    padding: .5rem 1rem 1rem 1rem;
}

#nav-default{
    display: none;
}

#hamburger-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger img{
    max-width: 2rem;
    height: auto;
}

#nav-mobile{
    flex-direction: column;
}

.hide{
    display: none;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--alt-blue);
    background-image: url('../img/introbg.webp');
    background-size: cover;
    background-position: center;
    padding: 0;
    box-sizing: border-box;
    height: 90vh;
}

#title h1, #title h2{
    margin-left: 1rem;
}

#intro-grid{
    display: grid;
    grid-template-columns: 1fr;
}

#intro, #decline, #landscape, #why, #conclusion{
    margin-top: 0rem;
}

#intro p{
    margin-top: 1rem;
}

#intro img{
    max-width: 100%;
    height: auto;
}


.two-col-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#decline-grid{
    display: grid;
    grid-template-columns: 1fr;
}

#decline p{
    margin-top: 0;
    margin-right: 0;
}

#decline img{
    max-width: 100%;
    height: auto;
}

.vegalite-container{
    width: 100%;
    max-width: 100%;
    min-width: 0;
    display: block;
    overflow: hidden;
}

#declineButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .5rem;
}

#button-container{
    display: flex;
    justify-content: center;
}

#formatButton{
    margin-top: .5rem;
    font-size: 1.2rem;
    width: 40vw;
}

#landscape-grid, #landscape-grid-two{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0rem;
}

.logo-header{
    margin-bottom: .5rem;
    font-size: 1.6rem;
}

.logo{
    border-radius: 0;
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

#visComparison, #visNintendoSales{
    margin-right: 0rem;
}

#landscape-grid h4, #landscape-grid-two h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#expected h3{
    margin-bottom: 0;
}

#chart{
    width: 100%;
    height: 400px;
}

#piechart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
}

#piechart{
    width: 100%;
    height: 40vh;
}

#why-grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3rem;
}

#why-matter{
    max-width: 100%;
    height: auto;
}


#conclusion-grid{
    display: grid;
    grid-template-columns: 1fr;
}

#conclusion p{
    margin-top: 0;
}

#conclusion img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

footer{
    background-color: var(--dark-blue);
    margin: 0;
    padding: 1rem 2rem;
    margin-top: 6rem;
}

footer p{
    text-align: center;
    color: var(--grey);
}

/* 600px */
@media (min-width: 37.5rem) {
    .content{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    h1, h2, h3, h4, p, a, label, button{
        color: white;
    }

    h1{
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 1rem;
        color: white;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        padding-top: 0;
    }

    h4{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
        transition-property: color;
        transition-duration: .2s;
    }

    a:hover{
        color: var(--bright-blue);
    }

    
    img{
        border-radius: 1.5rem;
    }


    button{
        background-color: var(--bright-blue);
        border-width: .1rem;
        border-color: var(--light-grey);
        border-style: solid;
    }

    header a{
        font-size: 1rem;
    }

    #nav-default{
        display: flex;
    }

    #nav-mobile{
        display: none;
    }

    #hamburger{
        display: none;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-blue);
        background-image: url('../img/introbg.webp');
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 2rem;
        box-sizing: border-box;
        height: 90vh;
    }

    header nav{
        justify-content: flex-start;
    }

    #intro-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #intro p{
        margin-top: 1rem;
    }

    #intro img{
        max-width: 100%;
        height: auto;
    }

    #decline-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #decline p{
        margin-top: 1rem;
        margin-right: 0;
    }

    #declineButtons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: .5rem;
    }

    #button-container{
        display: flex;
        justify-content: center;
    }

    #formatButton{
        margin-top: .5rem;
        font-size: 1.2rem;
        width: 40vw;
    }

    #landscape-grid, #landscape-grid-two{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
    }

    .logo-header{
        margin-bottom: 1rem;
    }

    .logo{
        border-radius: 0;
        max-width: 40%;
        height: auto;
        margin-bottom: 1rem;
    }

    #visComparison, #visNintendoSales{
        margin-right: 0rem;
    }

    #landscape-grid h4, #landscape-grid-two h4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

    #why-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    #conclusion-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #conclusion p{
        margin-top: 0;
    }

    #conclusion img{
        width: 100%;
        height: auto;
    }

    footer{
        background-color: var(--dark-blue);
        margin-top: 6rem;
        padding: 1rem 2rem;
    }

    footer p{
        text-align: center;
        color: var(--grey);
    }
}

/* 900px */
@media (min-width: 56.25rem) {
    .content{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    h1, h2, h3, h4, p, a, label, button{
        color: white;
    }

    h1{
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 1rem;
        color: white;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    h4{
        font-size: 2rem;
    }

    p{
        font-size: 1.2rem;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
        transition-property: color;
        transition-duration: .2s;
    }

    a:hover{
        color: var(--bright-blue);
    }

    button{
        background-color: var(--bright-blue);
        border-width: .1rem;
        border-color: var(--light-grey);
        border-style: solid;
    }

    #backtotop{
        right: 3rem;
        bottom: 3rem;
    }

    #backtotop img{
        max-width: 4rem;
        height: auto;
    }

    header a{
        font-size: 1rem;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-blue);
        background-image: url('../img/introbg.webp');
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 2rem;
        box-sizing: border-box;
        height: 90vh;
    }

    #intro-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #intro p{
        margin-top: 1rem;
    }

    #intro img{
        max-width: 100%;
        height: auto;
    }

    #decline-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #declineButtons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: .5rem;
    }

    #button-container{
        display: flex;
        justify-content: center;
    }

    #formatButton{
        margin-top: .5rem;
        font-size: 1.2rem;
        width: 40vw;
    }

    #landscape-grid, #landscape-grid-two{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    #visComparison, #visNintendoSales{
        margin-right: 0rem;
    }

    #landscape-grid h4, #landscape-grid-two h4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .logo-header{
        margin-bottom: 1rem;
    }

    .logo{
        border-radius: 0;
        max-width: 40%;
        height: auto;
        margin-bottom: 1rem;
    }


    #piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

    #why-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    #conclusion-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    #conclusion p{
        margin-top: 0;
    }

    #conclusion img{
        width: 100%;
        height: auto;
    }

    footer{
        background-color: var(--dark-blue);
        margin: 0;
        padding: 1rem 2rem;
        margin-top: 7rem;
    }

    footer p{
        text-align: center;
        color: var(--grey);
    }
}

/* 1200px */
@media (min-width: 75rem) {
    .content{
        margin-left: 5rem;
        margin-right: 5rem;
    }

    h1{
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3{
    font-size: 2rem;
    }

    h4{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.2rem;
    }

    #backtotop{
        right: 5rem;
        bottom: 3rem;
    }

    #backtotop img{
        max-width: 4rem;
        height: auto;
    }

    header{
        margin: 0;
        padding: 1rem 2rem;
    }

    header p{
        margin-top: 0;
        margin-bottom: .5rem;
    }

    header nav{
        display: flex;
        column-gap: 2rem;
    }

    header a{
        font-size: 1.5rem;
    }

    .two-col-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .onefr-twofr-grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 1rem;
    }

    .onefr-twofr-grid h4{
        margin: 0;
        padding: 0;
    }

    .center-align{
        align-self: center;
    }

    .center-justify{
        justify-self: center;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-blue);
        background-image: url('../img/introbg.webp');
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 2rem;
        box-sizing: border-box;
        height: 90vh;
    }

    #intro-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #intro p{
        margin-top: 0;
    }

    #intro img{
        max-width: 90%;
        height: auto;
    }

    #decline-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #decline p{
        margin-top: 0;
        margin-right: 5rem;
    }

    #landscape-grid, #landscape-grid-two{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }

    #visComparison, #visNintendoSales{
        margin-right: 3rem;
    }

    #landscape-grid h4, #landscape-grid-two h4{
        margin-top: 0;
    }
    
    #piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

    #why-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3rem;
    }

    #conclusion-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #conclusion p{
        margin-top: 0;
    }

    #conclusion img{
        width: 90%;
        height: auto;
    }

    footer{
        margin-top: 15vw;
        padding: 1rem 2rem;
    }
}

/* 1500px */
@media (min-width: 93.75rem) {
    .content{
        margin-left: 5rem;
        margin-right: 5rem;
    }

    h1{
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3{
        font-size: 2.5rem;
    }

    h4{
        font-size: 2rem;
    }

    p{
        font-size: 1.5rem;
    }

    
    .two-col-grid{
        column-gap: 4rem;
    }

    #backtotop{
        right: 8rem;
        bottom: 5rem;
    }

    #backtotop img{
        max-width: 4rem;
        height: auto;
    }


    header{
        margin: 0;
        padding: 1rem 2rem;
    }

    header p{
        margin-top: 0;
        margin-bottom: .5rem;
    }

    header nav{
        display: flex;
        column-gap: 2rem;
    }

    header a{
        font-size: 1.5rem;
    }

    #title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--alt-blue);
        background-image: url('../img/introbg.webp');
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 2rem;
        box-sizing: border-box;
        height: 90vh;
    }

    #intro-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #intro p{
        margin-top: 0;
    }

    #intro img{
        max-width: 90%;
        height: auto;
    }

    #decline-grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #decline p{
        margin-top: 0;
        margin-right: 5rem;
    }

    #landscape-grid, #landscape-grid-two{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }

    #visComparison, #visNintendoSales{
        margin-right: 3rem;
    }

    #landscape-grid h4, #landscape-grid-two h4{
        margin-top: 0;
    }
    
    #piechart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
    }

    #why-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3rem;
    }

    #conclusion-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #conclusion p{
        margin-top: 0;
    }

    #conclusion img{
        width: 90%;
        height: auto;
    }

    footer{
        margin-top: 10vw;
        padding: 1rem 2rem;
    }
}