.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.pub-btn {
  width: 25vw;
  height: auto;
  object-fit: contain;
  margin: 6px;
  cursor: pointer;
  border-radius: 12px;
  transition: transform .15s ease, box-shadow .15s ease;
}

.pub-btn:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.pub-btn.selected {
  outline: 4px solid #0078ff;  
  transform: scale(1.1);        
  box-shadow: 0 0 12px rgba(0,120,255,0.6);
}

#piechart svg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%
}

.title{
  font-size: 1rem;
  fill: white;
  font-weight: bold;
}

.legend-label{
  font-size: .8rem;
  fill: white;
}

/* 600px */
@media (min-width: 37.5rem) {
  .pub-btn {
    width: 20vw;
  }
}

/* 1200px */
@media (min-width: 75rem) {
  .pub-btn {
    width: 15vw;
  }
}